
<div>
    <img id="img_logo" src="img/logo_new_1.png"/>
</div>
<!-- BEGIN # MODAL LOGIN -->
<div id="login-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Begin # DIV Form -->
            <div id="div-forms" ng-controller="LoginController">

                <!-- Begin # Login Form -->
                <form id="login-form myclass" novalidate>
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Введите e-mail и пароль.</span>
                        </div>
                        <form name="loginForm">
                        <input id="login_username" class="form-control" type="text" value="{{loginText}}"
                               placeholder="E-mail" ng-model="user.email" required>
                        <input id="login_password" class="form-control" type="password" value="{{passText}}"
                               placeholder="Пароль" ng-model="user.pass" ng-minlength="6" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="rememberMe"> Запомнить меня
                            </label>
                        </div>
                            </form>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button id='b' type="button" class="btn btn-primary btn-lg btn-block"
                                    ng-click="enter()">Войти</button>
                        </div>
                        <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Забыли пароль?</button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                <form id="lost-form">
                    <div class="modal-body">
                        <div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-lost-msg">Введите e-mail.</span>
                        </div>
                        <input id="lost_email" class="form-control" type="text"
                               placeholder="E-mail" ng-model="user.email" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Отправить</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" class="btn btn-link">Войти</button>
                        </div>
                    </div>
                </form>
                <!-- End | Lost Password Form -->

            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
<script src="js/login.js"></script>